{% extends 'layout.html' %}

{% block content %}
{% for content in contents %}


<div class="listBox">
    <h1>{{content.title}}</h1>
    <p class="colDefault">
        作者：<span class="colInfo">{{content.user.username}}</span> -
        时间：<span class="colInfo">{{content.addTime|date('Y年m月d日 H:i:s', -8*60)}}</span> -
        阅读：<span class="colInfo">{{content.views}}</span> -
        评论：<span class="colInfo">10</span>
    </p>
    <dfn><p>{{content.descript}}</p></dfn>
    <div class="function"><a href="/view?contentid={{content.id}}">阅读全文</a></div>
</div>

{% endfor %}

<nav aria-label="Page navigation">
    <ul class="pagination pull-right">
        <li>
            <a href="/?category={{category}}&page={{page - 1}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% for p in pages %}
        {% if p == pageNow %}
        <li class="active"><a href="/?category={{category}}&page={{p}}">{{p}}</a></li>
        {% else %}
        <li><a href="/?category={{category}}&page={{p}}">{{p}}</a></li>
        {% endif %}
        {% endfor %}

        <li>
            <a href="/?category={{category}}&page={{page + 1}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}


